.img1 {
  margin-bottom: 30pt;
  position: relative; 
  top: 40px;
  left: 20px;
  border: 2px solid black;
  border-radius: 4px;
  height: 350px;
  width: 450px;
}

.header {
	text-align: center;
	color: white; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px;
	background-color: rgba(178, 166, 177, 0.7);#
	height: 150px;
	width: 100%;
    
}
 .form-signup-position {position: relative;
 	top: 400px;
 	left: 700px;

 }
p {
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 25px;
}
.bg-image{
    background: url('../img/back2.gif')no-repeat center center fixed;
    background-size: cover;}
 .bg-image2{
 	background: url('../img/puzzleback.jpg')no-repeat center center fixed;
    background-size: cover;}
 .bg-image3{
 	background: url('../img/bodybackground.jpg')no-repeat center center fixed;
    background-size: cover;}
 .bg-image4{
 	background: url('../img/backsoul.gif')no-repeat center center fixed;
    background-size: cover;}

}
.first-bg{
	background: gray; opacity: 0.7;
	height: 150px;
}

.navbar { 
	height: 60px;
	width: 100%;
}

#navig {
	background-image: url('../img/wood.jpg');
}
#navig a {
	color: white;
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

img:hover {
	opacity:0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.class:hover {

}